* {
   font-family: sans-serif;
   box-sizing: border-box;
}
.dark-mode{
   color: white;
   background-color: rgb(21, 4, 4);
}
#dark-btn{
   width: 20px;
   height: 20px;
   display: inline-block;
   background-color: #000000;
   border-radius: 50%;
   cursor: pointer;
}

.box-header {
   background: #ffbf45;
}

#nav-logo {
   width: 150px;
}

.container-1 {
   max-width: 1240px;
   margin: auto;
}

.group-1 {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.box-1 {
   flex-basis: 45%;
   min-width: 300px;
}

.box-1 img {
   max-width: 600px;
   width: 100%;
   padding: 20px;
}

.text {
   border: 1px dotted rgb(47, 21, 21);
   padding: 10px;
   font-size: 100%;

}

#h1-burger{
   font-size: 8rem;
   text-shadow: 4px 7px 20px white;
   font-weight: 900;
}

#week{
   font-size: 5vw;
   font-weight: 900;
   text-align: left;
   text-shadow: 4px 10px 20px white;

}


/* -----------second section-------- */
.small-box {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.burger-row {
   text-align: center;
   margin-top: 10px;
   padding: 20px;
}

.burger-row span {
   font-size: 20px;
   font-weight: 500;
   background-color: #ffbf45;
   padding: 10px;
   margin: 10px 0px 40px 0px;
}

.burger-row h1 {
   font-weight: 900;
   font-size:5rem;
   margin: 30px 0px 10px 0px;
   text-transform: uppercase;
}

.burger-row-1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;


}

.burger-card-1 {
   flex-basis: 30%;
   min-width: 250px;
   margin: 20px 0px 60px 0px;
   transition: all 0.5s;
   padding: 0px 10px;
   text-align: center;
   transition: all 3s;
}

.burger-card-1:hover {
   cursor: pointer;
   transform: translateY(-3%);
}

.burger-card-1 img {
   max-width: 300px;
   width: 100%;
}

.ratting {
   margin: 5px 0px;
}

.burger-btn {
   background-color: #ba831d;
   border: none;
   padding: 10px;
   border-radius: 10px;
   width: 60%;
   color: white;
   font-family: sans-serif;
   font-weight: 700;
   margin-top: 10px;


}

.burger-btn:hover {
   cursor: pointer;
   background-color: black;
}

/*--------------section-fourth---------------*/
.burger-row-2 {
   max-width: 1250px;
   height: 491px;
   margin: auto;
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 30px 30px 0px 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.burger-col-1 {
   flex-basis: 50%;
   width: 50%;
}

.burger-col-1 h6 {
   font-size: 20px;
   font-weight: 200;
}

.burger-col-1 h4 {
   font-size: 40px;
   color: rgb(21, 4, 4);
   font-weight: 900;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.burger-col-1 img {
   width: 100%;
}

/* ----------------Footer-section------------  */

.foot-row {
   margin-top: 170px;
   /* background-image: url("image/Layer.png"); */
   background-color: black;
   background-position: center;
   background-size: cover;
   height: 100%;

}

.footer-con-3 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 40%;
   flex-wrap: wrap;
   padding: 15px;
}

.footer-box-1 {
   flex-basis: 20%;
   text-align: center;
   min-width: 250px;
   width: 100%;
   margin: 20px;
}

.playstore-img img {
   width: 45%;
}

h5 {
   font-size: 18px;
   color: white;
   padding: 10px;
}

ul {
   list-style: none;
   padding: 10px;
}

ul li a {
   text-decoration: none;
   color: rgb(137, 116, 116);
   font-size: 15px;
   line-height: 25px;


}

.footer-box-1 p {
   font-size: 13px;

}

.playstore-img {
   margin: 20px 0px;
}

p {
   font-size: 15px;
   color: rgb(137, 116, 116);
}

.logo img {
   width: 100%;
   margin-bottom: 20px;

}
/* ------------responsive-section-------------- */
@media screen and ( max-width:800px){
   .text {
      border: 1px dotted rgb(47, 21, 21);
      font-size: 80%;
   
   }
   .box-1 h1 {
      font-size:5rem;
   }
   .burger-row h1 {
      font-size:4.5rem;
 
   }
}